AWS_PROFILE=default
AWS_REGION=us-east-1
S3_BUCKET_NAME=my-ecommerce-lakehouse-bucket
S3_PREFIX=ecommerce-lakehouse
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_CLICKSTREAM_TOPIC=clickstream
KAFKA_ORDERS_TOPIC=orders
SPARK_MASTER=local[*]
LOG_LEVEL=INFO
STREAMING_TRIGGER_INTERVAL=5 seconds
STREAMING_MAX_OFFSETS_PER_TRIGGER=1000
